


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.img1{
    width: 350px;
    padding-right: 90px;
}


nav {
    background-color: #24252a;
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
}
.nav1 a{
    margin: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 19px;
    transition: all 0.3s ease 0s;
}




nav a:hover
{
    color:#0088a9
}
.a1,.a2,.a3{
    font-size: 19px;
    transition: all 0.3s ease 0s;
}





section{
    min-height: 100vh;
    display:flex ;
    justify-content: center;
    align-items: center;
    background: #303030;
    color: #fff;
    font-size: 50px;
}
